.authContainer{
    max-width: 780px;
    padding: 1rem .9rem;
    margin: 4rem auto;
}

.title {
    color: #000AFF;
    margin-bottom: 2rem;
}

.forget {
    text-align: right;
}

.notYet {
    text-align: center;
}
.notYet > a{
    color: #000AFF
}

.load_flex {
    display: flex;
  }