.resources {
  max-width: 1200px;
  padding: 1rem 0.9rem;
  margin: 3rem auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  padding: 1rem;
  position: relative;
}

.card_image {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.card_header {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.read_more {
    background-color: transparent;
    border: transparent;
    margin: .5rem 0 0;
    padding: .5rem;
    text-decoration: underline;
    width: max-content;
    cursor: pointer;
    /* border-radius: 2px; */
    /* color: #fff; */
}