.jobPage {
  max-width: 780px;
  margin: 0rem auto;
  padding: 0rem 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.tabs button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 2rem;
  width: 100%;
}

.active {
  border-bottom: 5px solid orangered !important;
  color: #0500FF;
  font-weight: bold;
}

.tabContent {
  margin-bottom: 2.5rem;
}

.jp_heading {
  display: flex;
  align-items: center;
}

.jp_heading h3 {
  font-size: 2rem;
  font-weight: 400;
}

.jp_image {
  width: 100px;
  height: 80px;
  padding-right: 1rem;
}

.jp_image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.jp_cl {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.jp_cl > p:last-child {
  margin-left: 4rem;
}

.labelTitle {
  font-size: 1.5rem;
}

.viewsJobs {
  margin-bottom: 2rem;
  max-width: 1200px;
  margin: .5rem auto;
  padding: 1rem 0.9rem;
}

.header_bg {
  margin: 3rem 0;
}

.bg_title {
  margin: 1rem 0;
}

.jobs_container {
  display: grid;
  gap: 2rem;
}

@media (min-width: 680px) {
  .jobs_container {
    grid-template-columns: .4fr 1fr;
  }
}

.filters {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  height: max-content;
  background-color: #e2e2e2;
}

.checkboxes > * {
  margin: 0.5rem 0;
}
