.form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
 }
 .form input {
     outline: 2px solid rgb(218, 218, 218);
     height: 4rem;
     flex-basis: 25%;
     width: 100%;
     padding: .3rem;
     border: transparent;
     border-radius: var(--border-radius);
 }
 .submit {
     background-color: var(--blue);
     border: transparent;
     outline: 2px solid rgb(218, 218, 218);
     border-radius: var(--border-radius);
     color: #fff;
     height: 4.2rem;
     display: flex;
     align-items: center;
     padding: 1.5rem;
     cursor: pointer;
 }

 .formSubmit {
    margin: 1rem 0;
    outline: 2px solid rgb(218, 218, 218);
    color: #fff;
    border: transparent;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    padding: 1.2rem 2rem;
    cursor: pointer;
}
